
<nav class="py-2 fixed-top navbar-expand-lg navbar-dark ">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">

    </ul>
    <ul class="nav">
      <a href="#" class="nav-link link-light px-2">Follow us:</a>
      <li class="nav-item"><a href="#" class="nav-link link-light px-2"><i class="bi bi-facebook"></i></a></li>
      <li class="nav-item"><a href="#" class="nav-link link-light px-2"><i class="bi bi-instagram"></i></a></li>
      <li class="nav-item"><a href="#" class="nav-link link-light px-2"><i class="bi bi-twitter"></i></a></li>
      <li class="nav-item"><a href="#" class="nav-link link-light px-2"><i class="bi bi-whatsapp"></i></a></li>
    </ul>
  </div>
</nav>
<header class="py-3 bg-desportos ">
  <div class="container d-flex flex-wrap justify-content-between mt-5 border-secondary border-top">
    <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
      <img src="../../../assets/img/logomax.png" class="img-fluid logo"/>
    </a>

      <ul class="nav me-auto d-flex align-items-center">
        <li class="nav-item"><a href="#" class="nav-link btn btn-success text-white">Desportos</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-light px-2">Ao Vivo</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-light px-2">Jogos da Semana</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-light px-2">Promoções</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-light px-2">Jogos Finalizados</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-light px-2">Virtuais</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-light px-2">Comunidade</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-light px-2">Regras</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-light px-2">Sobre Nós</a></li>
      </ul>
      <ul class="nav d-flex align-items-center">
        <li class="nav-item"><a href="#" class="nav-link link-light px-2"><i class="bi bi-search"></i></a></li>
        <li class="nav-item"><a href="#" class="nav-link link-light px-2"><i class="bi bi-person-circle"></i></a></li>
        <li class="nav-item"><a href="#" class="nav-link link-light px-2"><i class="bi bi-bag-fill"></i></a></li>
      </ul>
  </div>
</header>
