.logo{
  max-width: 10rem;
}
.bg-desportos{
  background-image:
        linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../../../assets/img/bg.jpg');
    background-size: cover;
    background-position: bottom;
    position: relative;
}
