<app-header></app-header>
<div class="d-flex justify-content-center bg-success">
  <div class="lresponsive"><app-sidebar-left> </app-sidebar-left></div>
  <div class="middle-content bg-light">

    <h4 class="text-center p-2 text-success">Promoções</h4>
    <p class="m-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at gravida tortor. Integer facilisis sem velit, at euismod nibh auctor a.
      Aenean tempus, ligula in pellentesque posuere, est quam blandit sapien, non accumsan magna leo eget enim.
       Aliquam sed arcu eu tellus ultricies accumsan eu sed enim.
       Sed pellentesque mauris eu diam vestibulum ultrices. Proin odio neque, scelerisque id metus sed, tincidunt euismod lectus. Nulla commodo dignissim ipsum eget aliquam.
       Sed fringilla sem urna, vel dignissim mi fringilla nec.
       Morbi a purus viverra risus condimentum consectetur. Ut eget lorem sit amet ligula accumsan rhoncus.
       Proin eros odio, accumsan quis ultrices quis, posuere luctus nulla. Quisque pulvinar nulla a aliquam sodales.
       Etiam tristique risus faucibus nibh scelerisque, a fermentum lectus eleifend. Donec convallis turpis massa, et vehicula orci euismod ut.
       Integer diam leo, condimentum et condimentum at, luctus sed nunc. Nulla sapien risus, facilisis et sagittis eu, tristique ut sem.

        Proin quis est mi. Morbi quis leo elementum, rutrum felis quis, suscipit lacus. Integer imperdiet, dui quis tristique interdum,
        neque ipsum suscipit arcu, id rhoncus risus felis nec quam. Aenean quis elementum nisl. Donec venenatis massa libero, ac consequat
        justo rhoncus a. Suspendisse commodo purus eget dui iaculis, nec vehicula purus laoreet. Ut nec eros eget risus rhoncus ullamcorper.
        Quisque tristique velit pulvinar, eleifend nulla sed, pulvinar erat. Phasellus dictum dolor odio. Pellentesque eget ex eu libero elementum pretium.
        Fusce nec justo laoreet, mollis sem at, varius felis.

      Duis nec urna fringilla, tincidunt tortor quis, tempor lorem. Orci varius natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus. Sed maximus maximus bibendum. Sed quis turpis pellentesque neque pulvinar viverra.
      Aliquam eu augue nec ligula tempor scelerisque. Nulla vehicula libero a massa ultricies accumsan. Morbi iaculis eu lorem a ornare.
      Quisque ut sollicitudin ante, at dignissim tellus. In mollis quam mauris, id ornare purus venenatis vitae.</p>



  </div>
  <div class="rresponsive"><app-sidebar-right></app-sidebar-right></div>
</div>
<div class="bg-dark footer">
  <app-footer></app-footer>
</div>
