<ngb-carousel *ngIf="images">

  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" alt="Random second slide" class="img-fluid">
    </div>
    <div class="carousel-caption">
      <h3>Desafios de Futebol</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" alt="Random second slide" class="img-fluid">
    </div>
    <div class="carousel-caption">
      <h3>Esportes</h3>
    </div>
  </ng-template>
  </ngb-carousel>

