
<main class="form-signin mt-5 m-auto">
  <div class="bg-dark shadow rounded text-center card-bg" >
  <form class="p-4">
    <img class="mb-4" src="../../../assets/img/logomax.png" alt="" width="100" height="100">
    <h1 class="h3 mb-3 fw-normal text-white">Entre para apostar</h1>

    <div class="form-floating text-left">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput ">E-mail ou usuário</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Senha</label>
    </div>

    <div class="checkbox mb-3">
      <label class="text-white">
        <input type="checkbox" value="remember-me"> Lembre os meus dados
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-success mb-4" type="submit">Entrar</button>
    <button type="button" class="btn btn-link link-light">Esqueci minha senha</button>
    <button type="button" class="btn btn-link link-light" (click)="navigation('register')">Registrar novo membro</button>

  </form>
</div>
<div class="d-flex m-auto form-signin">
  <button class="w-100 btn btn-lg btn-success mb-4" (click)="navigation('home')">voltar</button>
</div>

</main>

