

.form-signin {
  max-width: 30rem;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}


.card-bg{
  min-width: 24rem;
}

::ng-deep .form-control:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}
@media only screen and (max-width: 425px) {
  .card-bg{
    min-width: 0rem;
  }


}
