<app-header></app-header>
<div class="d-flex justify-content-center bg-success">
  <div><app-sidebar-left> </app-sidebar-left></div>
  <div class="middle-content bg-light">
    <app-banner></app-banner>
    <h4 class="text-center p-2 text-success">Destaques Futebol</h4>
    <app-tables></app-tables>
    <h4 class="text-center p-2 text-success">As melhores ligas</h4>
    <app-tables></app-tables>
    <h4 class="text-center p-2 text-success">Futebol Internacional</h4>
    <app-tables></app-tables>
  </div>
  <div><app-sidebar-right></app-sidebar-right></div>
</div>
<div class="bg-dark footer">
  <app-footer></app-footer>
</div>
